HOST=localhost
PORT=3000
NODE_ENV=dev

SESSION_SECRET=secret

POSTGRES_HOST=localhost # subject to change if in containerised network
POSTGRES_USER=user123
POSTGRES_PASSWORD=pass
POSTGRES_DATABASE=test_users
POSTGRES_PORT=5432
